<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Customer Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <style>
          body {
            font-family: 'Arial', sans-serif;
            background-color: #f4e8f3;
            color: #333;
        }
      .icon-hover-primary:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
      }

      .icon-hover-primary:hover i {
        color: #3b71ca !important;
      }
      .icon-hover-danger:hover {
        border-color: #dc4c64 !important;
        background-color: white !important;
      }

      .icon-hover-danger:hover i {
        color: #dc4c64 !important;
      }
      .ggstore-logo {
            font-weight: bold;
            font-size: 1.5rem;
            color: #FF5733;
        }
    </style>
  </head>

  <body>
    <%- include('../partials/cusNav') %>

   
    <header>
   

      <!-- Jumbotron -->

      <!-- Heading -->
      <div class="bgdd" style="background-color:#f4e8f3 ;" >
        <div class="container py-4">
          <!-- Breadcrumb -->
          <nav class="d-flex">
            <h6 class="mb-0">
              <a href="./home" class="text-black-50">Home</a>
              <span class="text-black-50 mx-2"> > </span>
              <a href="" class="text-black"><u>Shopping cart</u></a>
            </h6>
          </nav>
          <!-- Breadcrumb -->
        </div>
      </div>
      <!-- Heading -->
    </header>
<!-- cart + summary -->
<section class="bgt my-5" style="background-color: #f4e8f3;">
    <div class="container">
      <div class="row">
        <!-- cart -->
        <div class="col-lg-9">
          <div class="card border shadow-0">
            <div class="m-4">
              <h4 class="card-title mb-4">Your shopping cart</h4>
              
              <!-- 
                foreach (items as item)
                Replace the placeholder section below with dynamic content 
              -->
              <p id="itemMsg" class="alert alert-success" style="position: fixed; top: 20px; right: 10px; display: none; z-index: 10;" role="alert"></p>
              <% cart.forEach(item=>{ %>
  
              <!-- Cart item placeholder -->
              <div class="row gy-3 mb-4">
                <div class="col-lg-5">
                  <div class="me-lg-5">
                    <div class="d-flex">
                      <img
                        src="<%= item._doc.image %>"
                        class="border rounded me-3"
                        style="width: 96px; height: 96px"
                      />
                      <div class="">
                        <a href="#" class="nav-link"><%= item._doc.title %></a>
                        <p class="text-muted" style="margin-left: 10px;"><%= item._doc.description %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap"
                >
                  <div class="">
                    <select id="trackChange_<%= item._doc._id %>" data-item-id="<%= item._doc._id %>" style="width: 100px" class="form-select me-4 trackChange" data-price="<%= item._doc.price %>">                      <!-- Populate options dynamically based on available quantities -->
                      <% for(let i = 1 ; i < item._doc.availableCount ; i++){ %>
                        <option><%= i %></option>
                        <% if(item.quantity == i){ %>
                      <option selected="selected"><%= i %></option>
                      <%}%>
                      <%}%>
                    </select>
                  </div>
                  <div class="">
                    <text class="h6" style="margin-left: 5px;" id="totalPriceItem<%= item._doc._id %>">$<%= item.quantity * item._doc.price %></text> <br />
                    <small class="text-muted text-nowrap">
                      <%= item._doc.price %>/ per item
                    </small>
                  </div>
                </div>
                <script>
                  
                  document.addEventListener('DOMContentLoaded', function() {
                    // Select all elements with the class 'trackChange'
                    const selectElements = document.querySelectorAll('.trackChange');
                
                    // Iterate over each select element and add an event listener
                    selectElements.forEach(function(selectElement) {
                      const itemId = selectElement.dataset.itemId;
                      const itemPrice = selectElement.dataset.price;
                      const totalPriceItem = document.getElementById(`totalPriceItem${itemId}`);
                      selectElement.addEventListener('change', function() {
                        const selectedValue = selectElement.value;
                        totalPriceItem.innerText = "$"+ selectElement.value * itemPrice;
                        const data = {
                        item_id: itemId,
                        customer_id: "<%= customer._id %>",
                        quantity: selectElement.value
                    };
                        fetch('/customer/cart/update', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to add item');
                        }
                        return response.json();
                    })
                    .then(data => {
                        msgElement.style.display = "block";
                        msgElement.innerText = "Item updated Successfully";
                        
                        setTimeout(() => {
                            msgElement.innerText = "";
                            msgElement.style.display = "none";
                        }, 2000);
                    })
                    .catch(error => {
                        msgElement.style.display = "block";
                        msgElement.innerText = "error";
                        setTimeout(() => {
                            msgElement.innerText = "";
                            msgElement.style.display = "none";
                        }, 2000);
                    });
                    setTimeout(() => {
                      location.reload();
                    }, 1200);
                        
                      });
                    });
                  });
                </script>
                <div
                  class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2"
                >
                  <div class="float-md-end">
                    <a
                      href="cart/remove/<%= item._doc._id %>"
                      class="btn btn-light border text-danger icon-hover-danger"
                    >
                      Remove</a
                    >
                  </div>
                </div>
              </div>
              <!-- End of Cart item placeholder -->
              <% })%>
              <!-- end foreach -->
              

            </div>
  
            <div class="border-top pt-4 mx-4 mb-4">
              <p>
                <i class="fas fa-truck text-muted fa-lg"></i> Free Delivery
                within 1-2 weeks
              </p>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip
              </p>
            </div>
          </div>
        </div>
        <!-- cart -->
        <!-- summary -->
        <div class="col-lg-3">
         
          <div class="card shadow-0 border">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p class="mb-2">
                  <% let totalPrice = 0; %>
                  <% cartItems.forEach(item => { %>
                    <% totalPrice += item.price * item.quantity; %>
                  <% }); %>
                 $<%= totalPrice %>
                </p>                
              </div>
             
              <div class="d-flex justify-content-between">
                <p class="mb-2">TAX:</p>
                <p class="mb-2">$14.00</p>
              </div>
              <hr />
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p class="mb-2 fw-bold">$<%= totalPrice + 14 %></p>
              </div>
  
              <div class="mt-3">
                <a
                  href="./checkout"
                  class="btn btn-success w-100 shadow-0 mb-2"
                >
                  Make Purchase
                </a>
                <a href="./home" class="btn btn-light w-100 border mt-2">
                  Back to shop
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- summary -->
      </div>
    </div>
 
  </section>
</div>

  

  <%- include('../partials/cusfooter') %>

    <!-- Footer -->
  </body>
</html>
