<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Customer Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <style>
      .icon-hover-primary:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
      }

      .icon-hover-primary:hover i {
        color: #3b71ca !important;
      }
      .icon-hover-danger:hover {
        border-color: #dc4c64 !important;
        background-color: white !important;
      }

      .icon-hover-danger:hover i {
        color: #dc4c64 !important;
      }
    </style>
  </head>
<body>
  <%- include('../partials/cusNav') %>



  <header>
        <!-- Jumbotron -->
      
        <!-- Heading -->
        <div class="bgs" style="background-color:#f4ebf3 ;" >
          <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
              <h6 class="mb-0">
                <a href="./home" class="text-black-50">Home</a>
                <span class="text-black-50 mx-2"> > </span>
                <a href="./cart" class="text-black-50">2. Shopping cart</a>
                <span class="text-black-50 mx-2"> > </span>
                <a href="" class="text-black"><u>3. Order info</u></a>
                <span class="text-black-50 mx-2"> > </span>
                <a href="" class="text-black-50">4. Payment</a>
              </h6>
            </nav>
            <!-- Breadcrumb -->
          </div>
        </div>
        <!-- Heading -->
      </header>
      
      <section class="bg-ligfht py-5" style="background-color:#f4ebf3 ;">
        <div class="container">
          <div class="card shadow-0 border" style="background-color:#f9f6f9 ;">
            <div class="p-4">
              <h5 class="card-title mb-3">Customer Information</h5>
              <div class="mb-3">
                <p class="mb-0"><strong>Name:</strong><%= customer.name %></p>
                <!-- TODO: Fetch and display customer name from database -->
              </div>
      
              <h5 class="card-title mb-3">Order Summary</h5>
              <div class="mb-3">
                <p class="mb-0"><strong>Items:</strong></p>
                <ul class="list-unstyled">
                  <% itemsArray.forEach((item, i)=>{ i++;%>
                    <li><%= i %>-<%= item._doc.title %> - <%= item._doc.price * item.quantity %>$</li>
                  <%}) %>
                  <!-- TODO: List items dynamically -->
                </ul>
              </div>
      
              <div class="mb-3">
                <p class="mb-0"><strong>Total Price:</strong>
                  <% let totalPrice = 0; %>
                  <% cartItems.forEach(item => { %>
                    <% totalPrice += item.price * item.quantity; %>
                  <% }); %>
                 $<%= totalPrice + 14 %>
                </p>
                <!-- TODO: Calculate total price based on cart items -->
              </div>
      
              <div class="d-flex justify-content-end">
                <a href="./payment.ejs" class="btn btn-success w-100 shadow-0">Make Purchase</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      

      <!-- Footer -->

      <%- include('../partials/cusfooter') %>


</body>