<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customers</title>
  <%- include('../partials/head') %>
</head>
<body class="with-welcome-text">
  <div class="container-scroller">
    <%- include('../partials/navbar') %>
    <div class="container-fluid page-body-wrapper">
      <%- include('../partials/sidebar') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <h3 class="page-title">Customers</h3>
          <div class="table-responsive mt-4">
            <table class="table select-table">
              <thead>
                <tr>
                  <th>Customer ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Orders</th>
                </tr>
              </thead>
              <tbody>
                <!-- Customers Data -->
              </tbody>
            </table>
          </div>
        </div>
        <%- include('../partials/footer') %>
      </div>
    </div>
  </div>
  <%- include('../partials/scripts') %>
</body>
</html>
